// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import './pixel.scss';

@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import '~sweetalert2/dist/sweetalert2.min.css';

html {
    scroll-behavior: smooth !important;
}
